html,body{background:#eee;}
h1{text-align:center;}
h1,h2{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;}
h2.inline+*{margin-left:20px;}
.inline{display:inline-block;}
.fill{height:100%;margin:0;padding:0;overflow:hidden;}
.em{font-style:italic;}
.new{color:red;}
.main{width:800px;margin:0 auto;}
.menu,.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.menu{overflow-y:auto;}
#footer{text-align:center;}
.left{float:left;}
.right{float:right;}
.tab{margin-left:20px;}
.menu,.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
fieldset{border-radius:5px;border:1px solid gray;padding:0;}
legend{margin-left:10px;}
#sList{overflow-x:hidden;overflow-y:auto;margin:10px 0;min-height:1px;}
#sList>div{display:block;padding:10px;border-top:1px dashed gray;overflow:hidden;height:80px;position:relative;}
#sList>div:last-child{border-bottom:1px dashed gray;}
#sList.simple>div{height:50px;}
#sList .version,#sList .author{margin-left:20px;color:gray;font-style:italic;}
#sList.simple .author{display:none;}
#sList.simple .descrip{display:none;}
#sList .update{position:absolute;right:10px;top:10px;}
#sList .message{color:gray;position:absolute;bottom:10px;left:50px;}
#sList .disabled{color:gray;background:silver;}
#sList .icon{width:32px;height:32px;margin:2px;position:absolute;}
#sList .name{font-weight:bold;line-height:150%;display:inline-block;max-width:400px;margin-left:40px;}
#sList .descrip{margin-left:40px;}
#sList .panel{position:absolute;bottom:10px;right:10px;}
#sList .panel>button{width:80px;}
#sList .panel .move{width:40px;padding:1px 2px;}
#overlay{background:#000;position:fixed;top:0;bottom:0;left:0;right:0;-webkit-transition:all .5s linear;opacity:0;}
#overlay.overlay{opacity:0.6;}
.float{position:fixed;background:lightgray;margin:0 auto;padding:10px;border-radius:10px;}
.CodeMirror{background:white;}
#editor{left:0;right:0;top:0;bottom:0;border-radius:0;}
textarea{width:100%;border:none;margin:0;padding:0;}
#advanced{padding:20px;}
#advanced fieldset{padding:10px;margin:10px;}
#advanced legend{margin:0;}
.list{background:white;overflow-x:hidden;overflow-y:auto;}
.list>div{display:block;padding:2px 10px;cursor:pointer;border-bottom:1px dashed lightgray;}
.list .selected{background:gray;color:white;}
#export .list{width:400px;height:420px;}
.menu>label{cursor:pointer;padding:5px;display:block;}
.menu>label:hover{background:gray;color:gold;}
.menu>label.disabled{color:gray;}
.menu>label.disabled:hover{color:silver;}
.menu>label span{display:inline-block;width:20px;}
.menu>hr{border:none;border-top:1px dashed gray;}
