/* Styles >>> */
html,body,.float,.frame{background:#333;color:#ddd;}
h1,h2{text-shadow:olive 3px 3px 5px;}
a{color:dodgerblue;}
fieldset{border:1px solid #555;}
button{background:#333;color:#ddd;border:1px solid #555;border-radius:5px;}
button:hover{background:dodgerblue;color:yellow;}
button:disabled{background:gray;color:silver;}
#overlay{background:gray;}
#overlay.overlay{opacity:0.6;}
.popup .expand>td{border-top:1px dashed #555;}
.em{font-style:italic;}
.new{color:yellow;}
#sList>div{border-top:1px dashed #555;}
#sList>div:last-child{border-bottom:1px dashed #555;}
#sList>div.moving{background:#330;border:1px outset #444;}
#sList>.hint{border:2px solid silver;box-shadow:5px 10px 15px rgba(0,0,0,0.4);}
#sList .version,#sList .author{color:gray;font-style:italic;}
#sList .message{color:gray;}
#sList .move{color:gray;}
#sList .disabled{color:#ccc;background:#222;}
#sList .disabled a{color:#ccc;}
#sList .disabled img{opacity:0.3;}
.list,textarea,input[type=text]{background:black;color:#ddd;}
.list>div{border-bottom:1px dashed #555;}
.list .selected{background:silver;color:#333;}
#xOptions>div{background:#eee;box-shadow:5px 10px 15px rgba(0,0,0,0.4);border:1px solid gray;}
#xOptions>div{background:#333;box-shadow:5px 10px 15px rgba(0,0,0,0.4);border:1px solid #555;}
/* <<< Styles */
