/* Layout >>> */
.center{text-align:center;}
.float,.frame{position:fixed;}
.popup table,.frame{left:0;right:0;top:0;bottom:0;table-layout:fixed;width:100%;height:100%;}
.float{margin:0 auto;padding:10px;border-radius:10px;border-spacing:10px;}
.popup,.fill{height:100%;margin:0;padding:0;}
.menu,.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.menu{overflow-y:auto;}
.left{float:left;}
.right{float:right;}
.buttons{text-align:right;vertical-align:bottom;}
.menu,.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
tr.fill>td{height:100%;}
tr{vertical-align:top;padding:0;height:1px;}
tr.expand{height:auto;}
.expandr{position:relative;}
.expanda,#editor .CodeMirror{position:absolute;width:100%;height:100%;}
textarea{width:100%;border:none;margin:0;padding:0;}
fieldset{border-radius:5px;}
#main{background:transparent;width:800px;margin:0 auto;}
#main fieldset{position:relative;height:100%;padding:0;}
#main legend{margin-left:10px;}
#editor{border-spacing:10px;}
#meta label,#advanced label{display:block;}
#meta table{width:100%;}
#meta td{width:1px;white-space:nowrap;}
#meta td.expand{width:auto;padding-right:10px;}
#meta td.expand>*{width:100%;}
#sList{overflow-x:hidden;overflow-y:auto;position:absolute;top:22px;left:0;right:0;bottom:10px;}
#sList>.hint{position:fixed;top:40%;left:40%;right:40%;border-radius:5px;padding:20px;z-index:9999;text-align:center;}
#sList>div{display:block;padding:10px;overflow:hidden;height:80px;position:relative;}
#sList.simple>div{height:50px;}
#sList .version,#sList .author{margin-left:20px;}
#sList.simple .author{display:none;}
#sList.simple .descrip{display:none;}
#sList .update{position:absolute;right:10px;top:10px;}
#sList .message{position:absolute;bottom:10px;left:50px;}
#sList .icon{width:32px;height:32px;margin:2px;position:absolute;}
#sList .name{font-weight:bold;line-height:150%;display:inline-block;max-width:400px;margin-left:40px;}
#sList .descrip{margin-left:40px;}
#sList .panel{position:absolute;bottom:10px;right:10px;}
#sList .panel>button{width:80px;}
#sList .panel .move{width:40px;padding:1px 2px;}
#overlay{background:#000;position:fixed;top:0;bottom:0;left:0;right:0;-webkit-transition:all .5s linear;opacity:0;}
#overlay.overlay{opacity:0.6;}
#advanced{padding:20px;}
#advanced fieldset>*:not(:first-child){display:inline-block;}
#advanced legend{margin:0;}
#tExclude{min-height:100px;}
.list{overflow-x:hidden;overflow-y:auto;}
.list>div{display:block;padding:2px 10px;cursor:pointer;}
#export .list{width:400px;height:420px;}
#xOptions{display:inline-block;position:relative;}
#xOptions>div{display:none;position:absolute;padding:10px;}
#xOptions>div>label{display:block;white-space:nowrap;}
#xOptions:hover>div{display:block;}
.menu>div{cursor:pointer;padding:5px;display:block;}
.menu>div span{display:inline-block;width:20px;}
#dImport{position:relative;}
#aImport{display:block;position:absolute;width:100%;height:100%;cursor:default;opacity:0;top:0;left:0;}
/* <<< Layout */

/* Styles >>> */
html,body,.float,.frame{background:#333;color:#ddd;}
h1,h2{text-shadow:olive 3px 3px 5px;}
a{color:dodgerblue;}
fieldset{border:1px solid #555;}
button{background:#333;color:#ddd;border:1px solid #555;border-radius:5px;}
button:hover{background:dodgerblue;color:yellow;}
button:disabled{background:gray;color:silver;}
.popup .expand>td{border-top:1px dashed #555;}
.em{font-style:italic;}
.new{color:yellow;}
#sList>div{border-top:1px dashed #555;}
#sList>div:last-child{border-bottom:1px dashed #555;}
#sList>.hint{border:2px solid silver;box-shadow:5px 10px 15px rgba(0,0,0,0.4);}
#sList .version,#sList .author{color:gray;font-style:italic;}
#sList .message{color:#ccc;}
#sList .disabled{color:#ccc;background:#222;}
#sList .disabled a{color:#ccc;}
#sList .disabled img{opacity:0.3;}
.list,textarea,input[type=text]{background:black;color:#ddd;}
.list>div{border-bottom:1px dashed #555;}
.list .selected{background:silver;color:#333;}
#xOptions>div{background:#eee;box-shadow:5px 10px 15px rgba(0,0,0,0.4);border:1px solid gray;}
#xOptions>div{background:#333;box-shadow:5px 10px 15px rgba(0,0,0,0.4);border:1px solid #555;}
.menu>div:hover{background:gray;color:gold;}
.menu>div.disabled{color:gray;}
.menu>div.disabled:hover{color:silver;}
/* <<< Styles */
