{
  "presets": [
    ["env", {
      "modules": false,
    }],
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      // "helpers": false,
    }],
    "transform-export-extensions",
  ],
  "comments": false
}
